          <about>
            <section id="abouts" class="abouts">
                <div class="container">
                    <div class="row">
                        <div class="abouts_content">

                          <div class="col-xs-4 col-sm-3 col-md-2 " *ngFor='let book of books' >
                            <a href="#" class="thumbnail">
                            <figure class="figure"><!--property binding img [src]='book.imageUrl'-->
                              <img [src]='book.imageUrl' alt="book" class="img-rounded" width="150" height="200" [title]='book.bookName'>
                            </figure>
                            </a><!--interpolation <figcaption class="figure-caption">{{book.bookName}}</figcaption> -->
                            <figcaption class="figure-caption">{{book.bookName}}</figcaption>
                            <figcaption class="figure-caption">{{book.price}} DT</figcaption>
                          </div>
    
                          <!--les images men C:\Users\Amira\tp-pu\src\assets\images -->
                           <!-- <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t1.jpg" alt="book" class="img-rounded" width="150" height="200">
                              </figure>
                                </a>
                                <figcaption class="figure-caption">Adultère</figcaption>
                                <figcaption class="figure-caption">21,400 DT</figcaption>
                              </div>
                              

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t2.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                <figcaption class="figure-caption">Apprendre a aimer</figcaption>
                                <figcaption class="figure-caption">15,000 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t3.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                 <figcaption class="figure-caption">Perry Rohdan</figcaption>
                                <figcaption class="figure-caption">28,600 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t4.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                <figcaption class="figure-caption">Between</figcaption>
                                <figcaption class="figure-caption">23,300 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t5.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                <figcaption class="figure-caption">Spring Girls</figcaption>
                                <figcaption class="figure-caption">54,400 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t6.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                <figcaption class="figure-caption">Dieu n'habite pas La Havane</figcaption>
                                <figcaption class="figure-caption">22,200 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t7.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                <figcaption class="figure-caption">Harry Potter Tome 8</figcaption>
                                <figcaption class="figure-caption">67,200 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t8.jpg" alt="book" class="img-rounded" width="150" height="200"> 
                                </figure>
                                </a>
                                <figcaption class="figure-caption">Imagines</figcaption>
                                <figcaption class="figure-caption">27,500 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t9.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                <figcaption class="figure-caption">La fille de Brooklyn</figcaption>
                                <figcaption class="figure-caption">49,000 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t10.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                <figcaption class="figure-caption">L'alchimiste</figcaption>
                                <figcaption class="figure-caption">18,200 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t11.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                <figcaption class="figure-caption">La méthode Running Lean</figcaption>
                                <figcaption class="figure-caption">96,200 DT</figcaption>
                              </div>

                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t12.jpg" alt="book" class="img-rounded" width="150" height="200">
                                </figure>
                                </a>
                                <figcaption class="figure-caption">L'espionne</figcaption>
                                <figcaption class="figure-caption">57,200 DT</figcaption>
                              </div>-->

                            </div>
                        </div>
                   </div>
               </section>      
          </about>