          <about>
            <section id="abouts" class="abouts">
                <div class="container">
                    <div class="row">
                        <div class="abouts_content">

                         <!-- <div class="col-xs-4 col-sm-3 col-md-2 " *ngFor='let book of books' >
                            <a href="#" class="thumbnail">
                            <figure class="figure">--> 
                              <!--property binding img [src]='book.imageUrl'-->
                              <!--<img [src]='book.imageUrl' alt="book" class="img-rounded" width="150" height="200" [title]='book.bookName'>
                            </figure>
                            </a>-->
                            <!--interpolation <figcaption class="figure-caption">{{book.bookName}}</figcaption> -->
                           <!-- <figcaption class="figure-caption">{{book.bookName}}</figcaption>
                            <figcaption class="figure-caption">{{book.price}} DT</figcaption>
                        </div>-->
    
                          <!--les images men C:\Users\Amira\tp-pu\src\assets\images -->
                          <input class="form-control mr-sm-2" type="search" [(ngModel)]='listFilter'/>
                          <bout1><button class="btn btn-outline-default my-2 my-sm-0" type="submit">Search</button></bout1>
                          

                           <div class='table-responsive'>
                             <table class='table' *ngIf='books && books.length' >
                               <thead>
                                 <tr>
                                   <th>
                                     <button class='btn btn-primar' 
                                     (click)='toggleImage()'>
                                     {{showImage?'Hide' : 'Show'}} Image</button>
                                   </th>
                                   <th>Book</th>
                                   <th>Anthor</th>
                                   <th>Available</th>
                                   <th>Price</th>
                                   <th>5 Stars Rating</th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr *ngFor='let book of books |bookFilter:listFilter'>
                                   <td><img *ngIf='showImage' 
                                    [src]='book.imageUrl' alt="book" class="img-rounded" width="100" height="130" [title]='book.bookName'></td>
                                   <td>{{book.bookName}}</td>
                                   <td>{{book.author}}</td>
                                   <td>{{book.releaseDate}}</td>
                                   <td>{{book.price |currency:'EUR':true:'1.2-2'}}</td>
                                   <td><app-star [rating] = 'book.starRating' > </app-star></td>

                                 </tr>
                               </tbody>
                             </table>
                           </div>

                        </div>
                     </div>
                 </div>
            </section>      
          </about>