          <about>
            <section id="abouts" class="abouts">
                <div class="container">
                    <div class="row">
                        <div class="abouts_content">
                            
    
    
                            <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t1.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                <figcaption class="figure-caption">Adultère</figcaption>
                                <figcaption class="figure-caption">21,400 DT</figcaption>
                              </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t2.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">Apprendre a aimer</figcaption>
                                <figcaption class="figure-caption">15,000 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t3.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">Perry Rohdan</figcaption>
                                <figcaption class="figure-caption">28,600 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t4.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">Between</figcaption>
                                <figcaption class="figure-caption">23,300 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t5.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">Spring Girls</figcaption>
                                <figcaption class="figure-caption">54,400 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t6.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">Dieu n'habite pas La Havane</figcaption>
                                <figcaption class="figure-caption">22,200 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t7.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">Harry Potter Tome 8</figcaption>
                                <figcaption class="figure-caption">67,200 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t8.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">Imagines</figcaption>
                                <figcaption class="figure-caption">27,500 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t9.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">La fille de Brooklyn</figcaption>
                                <figcaption class="figure-caption">49,000 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t10.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">L'alchimiste</figcaption>
                                <figcaption class="figure-caption">18,200 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t11.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">La méthode Running Lean</figcaption>
                                <figcaption class="figure-caption">96,200 DT</figcaption>
                                </figure>
                                </a>
                              </div>
                              <div class="col-xs-4 col-sm-3 col-md-2 ">
                                <a href="#" class="thumbnail">
                                <figure class="figure">
                                  <img src="assets/images/t12.jpg" alt="Tigre" class="img-rounded" width="150" height="200">
                                  <figcaption class="figure-caption">L'espionne</figcaption>
                                <figcaption class="figure-caption">57,200 DT</figcaption>
                                </figure>
                                </a>
                              </div>

                            </div>
                        </div>
                   </div>
               </section>      
          </about>