table {
    width: 100%;
    margin-top: 60px;
}
th {
    font-size:20px;
    font-family:Monospace;
    text-align: center;
    color: #B40F19
    

}
 td{
    text-align: center;
    font-size:18px;

 }
 .fa-cart-arrow-down{
    color: rgb(221, 218, 218);
 }
 .fa-cart-arrow-down:focus, .fa-cart-arrow-down:hover{
    color:rgb(70, 66, 66);
 }