        <section id="mobaileapps" class="mobailapps">
            <div class="slider_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_mobail_apps_content wow zoomIn">
                            <div class="col-md-5 col-sm-12 text-center">
                               

                            </div>
                            
                                <h4> Votre panier</h4>
                                <h5>Cliquez sur le panier pour voir son contenu</h5>
                                <i class="fa fa-cart-arrow-down fa-2x"
                                    (click)='getStore()'></i>

                                    <table class='table' *ngIf='panier && panier.length'  width="100%">
                                        <thead>
                                          <tr>
                                            <th>bookID</th>
                                            <th>bookName</th>                                            
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor='let p of panier'>
                                            <td>{{p.id}}</td>
                                            <td>{{p.name}}</td>
                                          </tr>
                                        </tbody>
                                      </table>

                            
                        </div>
                    </div>
                </div>
            </div>
        </section>		
      
              
   
