<div id="background" style="background-image: url('images/grisBG.jpg');" >
        <div class='panel-heading' align=center >
           <p>jbcjdbcjdbjfbvcfhbvjkfhbvkjhbfkvfb</p>
           <p>jbcjdbcjdbjfbvcfhbvjkfhbvkjhbfkvfb</p>
           <p>jbcjdbcjdbjfbvcfhbvjkfhbvkjhbfkvfb</p>
           <p>jbcjdbcjdbjfbvcfhbvjkfhbvkjhbfkvfb</p>
           <p>jbcjdbcjdbjfbvcfhbvjkfhbvkjhbfkvfb</p>
           <p>jbcjdbcjdbjfbvcfhbvjkfhbvkjhbfkvfb</p>
            {{pageTitle}}
            {{id}}
            <p>jbcjdbcjdbjfbvcfhbvjkfhbvkjhbfkvfb</p>
             {{name}}
             {{n}}
        
           

        </div>
</div>
