.panel-heading{
    
    width:250px; /* Largeur du bloc */
    height:250px;
    min-height: 500px;
}
#background{
    min-height: 400px;
}

#conteneur {width:760px; margin:0 auto;}
#sidebar {position:absolute; width:170px;}
#contenu {margin-left:170px;}