            <section id="features" class="features">
                <div class="slider_overlay">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="main_features_content_area  wow fadeIn" data-wow-duration="3s">
                                <div class="col-md-12">
                                    <div class="main_features_content text-left">
                                        <div class="col-md-6">
                                            <div class="single_features_text">
                                                <div class="single_widget wow fadeIn" data-wow-duration="5s">
                                                    <h3>Subscribe</h3>
    
                                                    <div class="single_widget_form text-left">
                                                        <form action="#" id="formid" >
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="name" placeholder="first name" required="">
                                                            </div>
    
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                                            </div>
    
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Subject">
                                                            </div> <!-- end of form-group -->
    
                                                            <div class="form-group">
                                                                <textarea class="form-control" name="message" rows="3" placeholder="Message"></textarea>
                                                            </div>
    
                                                            <input type="submit" value="Submit" class="btn btn-primary">
                                                        </form> 
                                                    </div>
                                                </div>
                                                
                                                
    
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            